@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login" style="color: #1E90FF; text-decoration: none;" onmouseover="this.style.color='#104E8B'; this.style.textDecoration='underline';" onmouseout="this.style.color='#1E90FF'; this.style.textDecoration='none';">click here to log in</a>.
</p>
